
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dwbank Password</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <style>
        @font-face{
            src:'./IRANYekanWebMedium.woff';
            font-family:'yekan'
        }
        
        
        
        
      
    </style>
    <body style=" direction: rtl;
    text-align: right;
    font-family:yekan">
      <main id="mainBox">
        <div class="container">
          <div class="row my-5">
            <div class="col-md-6 m-auto">
                <div class="mainBox " style="background: #f8f8f8;
                border-radius: 10px;
                overflow: hidden;"> 
                    <div class="logoBox" style="max-width: 100px;
                    margin: auto;
                    padding: 15px;">
                        <img style=" width:100%;" src="cid:logo.png" />
                    </div>
                    <div><span style="    background-color: #00b358;
                        text-align: center;
                        color: #fff;
                        min-height: 44px;
                        padding: 10px;
                        display: block;
                        line-height: 44px;
                        font-weight: bold;
                        font-size: 16px;">Your Password</span>
                    </div>
                    <div class="p-5">
                        <p class="text-en" style="font-family: arial;">dear {{first_name}} {{last_name}}</p>
                        <p class="text-en" style="font-family: arial;">your password is <srong>{{password}}</strong> </p>
                        <p class="text-en" style="font-family: arial;">your account id is <srong>{{account_id}}</strong> </p>
                    
                    </div>



                    <div class="text-en" style="font-family: arial;"><span style="background-color: #00b358;
                        text-align: center;
                        color: #fff;
                        min-height: 38px;
                        padding: 10px;
                        display: block;
                        line-height: 38px;
                        font-weight: bold;
                        font-size: 16px;"><small style="font-size: 80%;
                        font-weight: 400;">Copyrights © 2022 All Rights Reserved</small></span></div>
                </div>

            </div>
            
          </div>
        </div>
      </main>
    </body>
</html>